<!DOCTYPE html>
<html lang="ru-Ru">
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#ffffff">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="description" content="Personal webpage" />
  <link rel="icon" type="image/png" href="assets/img/favicon.png">
  <link crossorigin href="https://fonts.gstatic.com/" rel="preconnect">
</head>
<body>
<noscript>
  If you're seeing this message, that means
  <strong>JavaScript has been disabled on your browser</strong>, please
  <strong>enable JS</strong> to make this app work.
</noscript>
<div id="pw-app"></div>
<div class="pw-preloader">
  <img src="./assets/svg/logo.svg" class="pw-preloader-image">
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</body>
</html>
